@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.fiCircle {
    width: 24px !important;
    height: 24px !important;
    font-size: 24px !important;
    border-radius: 100%;
    border: none;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .06);
    background: white;
}

.article-body > p {
    @apply mb-5 text-gray-800
}



.article-body > ul {
    @apply mb-5
}

.article-body > blockquote {
    @apply relative p-4 border-l-4 border-red-700 dark:bg-gray-300 dark:bg-opacity-40 mb-4
}

/*.main-container {*/

/*    width: fit-content;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

/*.ck-content {*/

/*    line-height: 1.6;*/
/*    word-break: break-word;*/
/*}*/
